body {
	margin: 5%;
	background-color: #4c5c7a;  
} 

p {
	 font-size: 16px;
}

a {
	text-decoration: none;
	color: LightSteelBlue;
}

.button {
	border: none;
	color: LightSteelBlue;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.25s;
	cursor: pointer;
	background-color: #4c5c7a; 
}

.button:hover {
  background-color: LightSteelBlue;
  color: #4c5c7a;
}

.main {
	margin: 2%;
	color: #ff0000;
}

.bottomBanner {
	background-color: LightSteelBlue;    
	text-align: center;
}

.bottomBanner a {
	text-decoration: none;
	color: #4c5c7a;
}
