body {
	margin: 5%;
	background-color: #4c5c7a;  
} 

p {
	 font-size: 14px;
}

a {
	text-decoration: none;
	color: LightSteelBlue;
}

.bottomBanner {
	background-color: LightSteelBlue;    
	text-align: center;
}

.bottomBanner a {
	text-decoration: none;
	color: #4c5c7a;
}
